
/* {
    width: 200px;
	background-color:purple;
	padding:10px;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    border-left: 5px solid green;
    border-left-color: green;
} */
.main {
	width:200px;
	background-color:purple;
	border-left-width: 5px;
    border-left: 5px solid green;
    border-left-color:5px solid green;
    padding:10px;
    text-decoration: underline;
}
#heading {
	font-size:20px;
	color:white;
}