body{
    background-color: black;
    color : white;
    font-family: 'Inter', sans-serif;
    margin: 10px 20px;
    font-size: large;
}
select, input{
    background-color: black;
    border-color: white;
    border-width: 0.5px;
    color: white;
    font-size: large;
    }
button{
    margin:10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color:azure;
}
.form {
    display: flex;
    justify-content:stretch;
    font-size: large;
}
.form div{
    margin-right: 20px;
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    border: 2px solid greenyellow;
    border-radius: 4px;
}
#container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}