#user-container{
    padding: 10px;
    border-radius: 5px;
}

.user{
    display: inline-block;
    width: 45%;
    color:black;
    border-radius: 5px;
    display: flex;
    margin: 10px;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

/* .tab{
    margin:auto 10px;
} */

.adduser,.label-form{
    margin-top:20px;
}